
.bigcard{
    background-color: white;
    margin: 50px auto;
    width: 1000px;
    border-radius: 12px;
    transition: 0.5s;
    height: 500px;
    filter: drop-shadow(0 30px 20px rgba(0, 0, 0, 0.1));
    transform:
    scale(0.80);
    transform-origin: 50% 100%;
  box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.25);
  transition: 0.6s ease transform;

    @media only screen and(max-width: 1000px) {
        width: 500px;
    }
    @media only screen and(max-width: 500px) {
        width: 95%;

        .top{
            align-items: center  !important;
            align-content: center !important;
            flex-direction: column  !important;
            .left{
                margin-top: 40px;
            }
        }
        .news{
            .title{
                display: none;
            }
            .tag{
                margin-top: 2px !important;
            }
            &:hover{
                .content{
                    color: black !important;
                }
            }
        }
        .twitts{
            margin-top: 2 !important;
            padding-right: 0 ;
            .circle{
                width: 10px !important;
                height: 10px !important;
            }
            .content{
                font-size: 10px;
            }

        }
        .right{
            width: 100% !important;
            .temp{
                font-size: 30px !important;
        
            }
            .description{
                font-size: 10px !important;
            }
            .day{
                font-size: 13px;
            }
            .card{
                .temp{
                 font-size: 20px !important;   
                }
            }
        }
    }
    .top{
        height: 50%;
        width: 100%;
        background-image: url(/assets/back.png);
        background-size: cover;
        border-radius: 12px 12px 0 0;
        
        border-bottom: 15px solid rgb(26, 20, 61);
        display: flex;
        align-items: flex-end;
        .left{
            display: table-cell;
            vertical-align: bottom;
            width: 50%;
            animation: blur linear 1.5s ;

            text-align: center;
            color: white;
            .temp{
                font-size: 72px;
                transform: translateX(-5px);
                filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.288));
                animation: blur linear 2.5s ;

                &::after{
                    content: 'o';
                    color: white;
                    font-size: 25px;
                    position: absolute;
                    margin-left: 5px;
                    margin-top: 5px;
                }
            }
            .description{
                color: rgba(207, 207, 207, 0.514);
            }
            .twocol{
                display: flex;
                margin-top: 10px;
                margin-bottom: 5px;
                justify-content: center;
                .one{
                    margin: 0 5px;
                    p,h6{
                        color: rgba(207, 207, 207, 0.514);
                        font-size: 20px;
                        width: 70px;
                    }
                    h6{
                        font-size: 15px;
                        margin-bottom: 2px;
                    }
                }
                .line{
                    width: 1px;
                    height: 40px;
                    margin-left: 10px;
                    margin-right: 10px;
                    background: rgba(187, 187, 187, 0.247);
                }
            }

        }
        .right{
            width: 50%;
            margin-bottom: 180px;
            display: flex;
            color: white;
            animation: blur linear 2.5s ;
            flex-direction: column;
            align-items: center;
            .city{
                font-size: 15px;
                filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.322));
                margin: 2px 0;
                font-weight: 100;
                letter-spacing: 4px;
                text-transform: uppercase;
            }
            .line{
                filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.158));
                width: 50px;
                height: 3px;
                border-radius: 10px;
                background-color: white;
            }
        }
    }
    .bottom{
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        color: gray;
        border-radius:0 0 12px 12px;
        background: linear-gradient(180deg, rgb(212, 212, 212) 0%, rgb(255, 255, 255) 20%);

        .right{
             width: 100%;
            height: 70%;
            padding-left: 10px;
            
        }
    }
    &:hover{
        filter: drop-shadow(0 30px 20px rgba(0, 0, 0, 0.250));
        transform:
        scale(1)
        rotateY(0)
        rotateX(0)
        translateZ(0);
      transform-origin: 50% 100%;
      transform-style: preserve-3d;
      box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.25);
      transition: 0.6s ease transform;
    }
}
@keyframes rotateX {
    0% {transform: rotate(0deg) scale(1);}
    33% {transform: rotate(10deg) scale(1.2) translateY(5px); }
    66% {transform: rotate(-10deg) scale(1.2) translateY(2px); }
    100% {transform: rotate(0deg) scale(1);}
  }
  
  @keyframes blur {
    0% {filter: blur(100px); opacity: 0;}
    100% {filter: blur(0); opacity: 1;}
  }
