<div class="bigcard">
    <div class="top">
      <div class="left">
        <h1 class="temp">12</h1>
        <h6 class="description">CLOUDY</h6>
        <div class="twocol">
          <div class="one">
            <h6>HUMIDITY</h6>
            <p>65%</p>
          </div>
          <div class="line"></div>
          <div class="one">
            <h6>WIND</h6>
            <p>12 K/M</p>
          </div>
        </div>
      </div>
      <div class="right">
        <h1 class="city">FRANCE</h1>
        <div class="line"></div>
      </div>
    </div>
    <div class="bottom">
      <div class="left">
        <div class="twitter">
          <div class="logo"><img width="12" src="/assets/icons/free-twitter-logo-icon-2429-thumb.png" alt=""></div>
          <div class="title">Twitter Feed</div>
          <div class="tag">#France</div>
        </div>
        <div class="twitts">
          <div class="img"><div class="circle"></div></div>
          <div class="content">Dont froget your sunscreen tomarrow</div>
        </div>
        <div class="twitts">
          <div class="img"><div class="circle"></div></div>
          <div class="content">Dont froget your sunscreen tomarrow</div>
        </div>
        <div class="next"><a href="/">NEXT</a></div>
      </div>
      <div class="right">
        <div class="card">
          <div class="day">
            Mon
          </div>
          <div class="img">
            <img width="40" src="/assets/icons/sun2.png" alt="">
          </div>
          <div class="temp">
            9
          </div>
          <div class="description">
            SUNNY
          </div>
        </div>
        <div class="card">
          <div class="day">
            Mon
          </div>
          <div class="img">
            <img width="40" src="/assets/icons/sun1.png" alt=""></div>
          <div class="temp">
            9
          </div>
          <div class="description">
            SUNNY
          </div>
        </div>
        <div class="card">
          <div class="day">
            Mon
          </div>
          <div class="img">
            <img width="40" src="/assets/icons/sun.png" alt="">
          </div>
          <div class="temp">
            14
          </div>
          <div class="description">
            SUNNY
          </div>
        </div>
        <div class="card">
          <div class="day">
            Mon
          </div>
          <div class="img">
            <img width="40" src="/assets/icons/sun.png" alt="">
          </div>
          <div class="temp">
            9
          </div>
          <div class="description">
            SUNNY
          </div>
        </div>
      </div>
    </div>
  </div>
  
  