
<div class="bigcard">
    <div class="top">
      <div class="left">
        <h1 class="temp">{{weather.current.temp_c}}</h1>
        <h6 class="description">{{weather.current.condition.text}}</h6>
        <div class="twocol">
          <div class="one">
            <h6>HUMIDITY</h6>
            <p>{{weather.current.humidity}}%</p>
          </div>
          <div class="line"></div>
          <div class="one">
            <h6>WIND</h6>
            <p>{{weather.current.wind_kph}}k/m</p>
          </div>
        </div>
      </div>
      <div class="right">
        <h1 class="city">{{weather.location.name}}
        </h1>
        <div class="line"></div>
      </div>
    </div>
    <div class="bottom">
      <div class="left">
        <div class="news">
          <div class="logo"><img width="20" src="/assets/icons/Latest_announcements.png" alt=""></div>
          <div class="title">News Feed</div>
          <div class="tag">#frontend</div>
        </div>
        <div class="twitts">
          <div class="img"><div class="circle"></div></div>
          <div title="{{firstnews}}" class="content">{{firstnewsshort}}</div>
        </div>
        <div class="twitts">
          <div class="img"><div class="circle"></div></div>
          <div title="{{secnews}}" class="content">{{secnewsshort}}</div>
        </div>
      </div>
      <div class="right">
        <app-days></app-days>
    </div>
</div>