<div class="days">
<div class="card first">
    <div class="day">
      Today
    </div>
    <div class="img">
      <img width="60" src="{{weather.current.condition.icon}}" alt="">
    </div>
    <div class="temp">{{weather.current.temp_c}}
             </div>
    <div class="description">{{weather.current.condition.text}}
    </div>
  </div>
  <div class="card sec">
    <div class="day">
      Tomorrow
    </div>
    <div class="img">
      <img width="60" src="{{weather.forecast.forecastday[1].day.condition.icon}}" alt=""></div>
    <div class="temp">
      {{weather.forecast.forecastday[1].day.avgtemp_c}}
    </div>
    <div class="description">
      {{weather.forecast.forecastday[1].day.condition.text}}
    </div>
  </div>
  <div class="card therd">
    <div class="day">
      TDAT
    </div>
    <div class="img">
      <img width="60" src=" {{weather.forecast.forecastday[2].day.condition.icon}}" alt="">
    </div>
    <div class="temp">
      {{weather.forecast.forecastday[2].day.avgtemp_c}}
    </div>
    <div class="description">
      {{weather.forecast.forecastday[2].day.condition.text}}
    </div>
  </div>
</div>